$colorGray: #d8d8d8;
$colorAppBackground: #009688;
$colorBeige: #f1f1d9;
$colorText: #582828;
$colorBeigeShadow: #9d8c7a;
$colorGrayDarker: #828287;
$colorGrayDark: #373737;
$colorGrayLight: #f2f2f2;

$colorLightest: #ffffff;
$colorBlack: #000000;
$colorDarkest: #373737;
$colorError: #c9071a;

$colorBodyBackground: #f2f2f2;
$fontFamilySans: 'Amaranth',
sans-serif;
$fontWeightLight: 300;
$fontWeightSmall: 400;
$fontWeightDefault: 400;
$fontWeightBold: 700;

$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize22: 1.1rem;
$fontSize27: 1.35rem;
$fontSize32: 1.6rem;
$fontSize36: 1.8rem;
$fontSize50: 2.5rem;

$lineHeight24: 1.2rem;
$lineHeight28: 1.4rem;
$lineHeight30: 1.5rem;
$lineHeight32: 1.6rem;
$lineHeight34: 1.7rem;
$lineHeight37: 1.85rem;
$lineHeight40: 2rem;
$lineHeight46: 2.3rem;

$imageZoom: 1.04;

$shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
$shadowStrong: 0 2px 20px rgba(0, 0, 0, 0.1);
$shadowHover: 0 2px 20px rgba(0, 0, 0, 0.25);

$contentMaxWidth: 66rem;
$contentSmallWidth: 44rem;
$contentArticleWidth: 42rem;

$breakpointTiny: 375px;
$breakpointSmall: 640px;
$breakpointSm: 960px;
$breakpointMedium: 1312px;
$breakpointBig: 1600px;
$borderRadius: 1rem;


$transitionDefault: 0.2s;
$transitionMedium: 0.4s;
$transitionLong: 0.5s;
